:root {
  --first-color: #272142;
  --second-color: #6c63ff;
  --third-color: #f9f7fe;
  --fourth-color: white;
  --fifth-color: black;
  --fontfamily-first: "Poppins", sans-serif;
  --fontfamily-second: "Playfair Display", serif;
}
/* for md-screen*/
@media (min-width: 768px) {
  .second-wrapper {
    margin: 0 20px;
  }
  .third-wrapper {
    margin: 0px 30px 50px 30px;
  }
  .link-menu-block {
    margin-left: 200px;
  }
  .link-menu {
    margin: 0 10px;
  }
  .greeting-text {
    margin-top: 100px;
  }

  .email-link a {
    font-size: 16px;
  }


  .block-work-inquiry {
    padding: 20px 80px;
  }
  
  .work-inquiry {
    font-size: 37px;
  }
  .work-inquiry-content {
    font-size: 16px;
  }

}
/* for sm-screen*/
@media (min-width: 576px) {
  .second-wrapper {
    margin-bottom: 50px;
  }
  .link-menu-block {
    display: inline;
    text-align: right;
    margin-left: 150px;
  }
  .link-menu {
    margin: 0 10px;
  }
  .greeting-text {
    margin-top: 100px;
  }

  .email-link a {
    font-size: 16px;
  }
}



/* for a big screen */

body {
  margin: 0 0;
  padding: 0 0;
}

.wrapper,
.about-wrapper {
  padding: 51px 67px;
}

.wrapper {
  width: 100%;
  background-color: var(--third-color);
  height: 900px;
  margin-bottom: 127px;
}
.about-wrapper {
  background-color: var(--fourth-color);
  height: auto;
  margin-bottom: 110px;
}
.second-wrapper,
.third-wrapper {
  width: 90%;
}

.logo {
  width: 150px;
}

.link-menu-block {
  text-align: right;
}
.link-menu {
  text-decoration: none;
  font-size: 16px;
  color: var(--first-color);
  line-height: 24px;
  font-family: var(--fontfamily-first);
  margin: 0 30px;
}

.link-menu:hover {
  color: var(--second-color);
}

.greeting-text {
  margin-top: 211px;
  text-align: center;
}

.name {
  color: var(--fifth-color);
  font-family: var(--fontfamily-second);
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
p {
  font-family: var(--fontfamily-first);
  font-weight: normal;
}
.greeting {
  color: var(--first-color);
  font-family: var(--fontfamily-first);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

#text-about {
  color: var(--first-color);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0 auto;
  line-height: 36px;
}
.button-contact-me {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 46px;
  border-radius: 4px;
}
.button-contact-me a {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: var(--third-color);
}
.button-contact-me:hover {
  color: var(--first-color);
}
.second-wrapper {
  padding: 0 0;
  margin: 0 67px 50px 67px;
}
.text-second-part {
  text-align: center;
  margin-bottom: 82px;
}
.headerDictionary,
.headerWeather,
.headerYogurt,
.about-greeting,
.get-touch {
  font-family: var(--fontfamily-second);
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  color: var(--fifth-color);
}
.headerDictionary,
.headerWeather,
.headerYogurt {
  margin-top: 95px;
  margin-bottom: 55px;
}
.about-greeting {
  margin-top: 10px;
  margin-bottom: 29px;
}
.get-touch {
  margin-top: 10px;
  margin-bottom: 235px;
}

.content-yogurt,
.content-dictionary,
.content-weather,
.about-developer,
.about-content-developer {
  margin: 10px 0;
  font-family: var(--fontfamily-first);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--first-color);
}

.content-yogurt,
.content-dictionary,
.content-weather {
  margin-bottom: 68px;
}
.about-content-developer {
  margin-bottom: 66px;
}
.about-developer {
  font-weight: bold;
  margin-bottom: 28px;
}
.about-photo-developer {
  height: 460px;
  padding: 0 0;
  margin-bottom: 100px;
}

.contact-link {
  background-color: var(--fourth-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 18px 46px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.contact-link:hover {
  background-color: var(--second-color);
  color: var(--fourth-color);
}
.img-fluid {
  margin-bottom: 70px;
}

.my-work .img-fluid {
  margin-bottom: 16px;
}
#last-row {
  padding: 0 0;
  margin-bottom: 200px;
}

.first-image-caption {
  font-family: var(--fontfamily-first);
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 9px;
}

.second-image-caption {
  font-family: var(--fontfamily-first);
  color: var(--first-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
}

.third-wrapper {
  padding: 0 0;
  margin: 0 79px;
}

.block-work-inquiry {
  background-color: var(--third-color);
  border-radius: 4px;
  padding: 49px 119px;
  height: 200px;
}

.work-inquiry {
  font-family: var(--fontfamily-second);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: var(--fifth-color);
  padding-bottom: 4px;
}

.work-inquiry-content {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--first-color);
}
.email-link-block {
  padding-top: 41px;
  text-align: right;
}

.email-link {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 38px;
  border-radius: 4px;
}
.email-link a {
  font-family: var(--fontfamily-first);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  color: var(--third-color);
  margin: 0 auto;
}
.email-link a:hover {
  color: var(--first-color);
}

.my-email {
  font-family: var(--fontfamily-first);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: var(--fifth-color);
  margin-top: 81px;
  margin-bottom: 41px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 132px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 18px;
  color: var(--second-color);
  margin: 11px auto;
}

.facebook,
.twitter,
.instagram {
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
  margin-right: 33px;
  border-radius: 50%;
}

.facebook:hover,
.twitter:hover,
.instagram:hover {
  border: 1px solid var(--second-color);
}
